.Tracker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 560px; 
  height: 30px;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 5px;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 600;
}

.Tracker_panel {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.Tracker_name {
  width: 50%;
}

.green {
  background-color: rgb(189, 231, 189);
}

.red {
  background-color: rgb(235, 192, 192);
}

.button {
  cursor: pointer;
}

@media (max-width: 560px){
    .Tracker {
      width: 95%;
    }   
}
