.Input {
  margin-bottom: 15px;
  width: 560px;
}

.Input_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  padding: 0 5px;
  height: 30px;
  border-radius: 15px;
}

.Input_input {
  border: none;
  outline: none;
  width: 80%;
  margin: 0 5px;
  padding: 0 5px;
  height: 24px;
  font-size: 18px;
} 

.Input_span {
  background-color: rgb(70, 202, 70);
  border: 1px solid rgb(70, 202, 70);
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

@media (max-width: 560px){
  .Input {
    width: 95%;
  }   
}